## Preprocess the Data

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

### Load the Data

In [2]:
data = pd.read_csv('train.csv')
data.head()

          Date  Open Price  Close Price  High Price  Low Price      Volume
0  02-Jan-2009      902.99       931.80      934.73     899.35  4048270080
1  05-Jan-2009      929.17       927.45      936.63     919.53  5413910016
2  06-Jan-2009      931.17       934.70      943.85     927.28  5392620032
3  07-Jan-2009      927.45       906.65      927.45     902.37  4704940032
4  08-Jan-2009      905.73       909.73      910.00     896.81  4991549952

In [3]:
x_train = data.drop('Date',1)[:-1]
x_train.head()

   Open Price  Close Price  High Price  Low Price      Volume
0      902.99       931.80      934.73     899.35  4048270080
1      929.17       927.45      936.63     919.53  5413910016
2      931.17       934.70      943.85     927.28  5392620032
3      927.45       906.65      927.45     902.37  4704940032
4      905.73       909.73      910.00     896.81  4991549952

In [4]:
new = pd.Series([]) 
for i in range(len(data)-1): 
    if data["Close Price"][i+1]-data["Close Price"][i] > 0: 
        new[i] = 1
    else:
        new[i] = 0

data = data[:-1]
data.insert(6,"Prediction",new)
data.head()

,Date,Open Price,Close Price,High Price,Low Price,Volume,Prediction
0,02-Jan-2009,902.99,931.80,934.73,899.35,4048270080,0
1,05-Jan-2009,929.17,927.45,936.63,919.53,5413910016,1
2,06-Jan-2009,931.17,934.70,943.85,927.28,5392620032,0
3,07-Jan-2009,927.45,906.65,927.45,902.37,4704940032,1
4,08-Jan-2009,905.73,909.73,910.00,896.81,4991549952,0

In [5]:
y_train = data['Prediction']

data_test = pd.read_csv('test.csv')
data_test.head()

          Date  Open Price  Close Price  High Price  Low Price      Volume
0  02-Jan-2018     2683.73      2695.81     2695.89    2682.36  1846463232
1  03-Jan-2018     2697.85      2713.06     2714.37    2697.77  2090595328
2  04-Jan-2018     2719.31      2723.99     2729.29    2719.07  2100767744
3  05-Jan-2018     2731.33      2743.15     2743.45    2727.92  1918869120
4  08-Jan-2018     2742.67      2747.71     2748.51    2737.60  1894823936

In [6]:
x_test = data_test.drop('Date',1)[:-1]
x_test.head()

   Open Price  Close Price  High Price  Low Price      Volume
0     2683.73      2695.81     2695.89    2682.36  1846463232
1     2697.85      2713.06     2714.37    2697.77  2090595328
2     2719.31      2723.99     2729.29    2719.07  2100767744
3     2731.33      2743.15     2743.45    2727.92  1918869120
4     2742.67      2747.71     2748.51    2737.60  1894823936

In [7]:
new = pd.Series([]) 
for i in range(len(data_test)-1): 
    if data_test["Close Price"][i+1]-data_test["Close Price"][i] > 0: 
        new[i] = 1
    else:
        new[i] = 0

data_test = data_test[:-1]
data_test.insert(6,"Prediction",new)
data_test.head()

,Date,Open Price,Close Price,High Price,Low Price,Volume,Prediction
0,02-Jan-2018,2683.73,2695.81,2695.89,2682.36,1846463232,1
1,03-Jan-2018,2697.85,2713.06,2714.37,2697.77,2090595328,1
2,04-Jan-2018,2719.31,2723.99,2729.29,2719.07,2100767744,1
3,05-Jan-2018,2731.33,2743.15,2743.45,2727.92,1918869120,1
4,08-Jan-2018,2742.67,2747.71,2748.51,2737.60,1894823936,1

In [8]:
y_test = data_test['Prediction']

## 1. Logistic Regression

In [9]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression().fit(x_train, y_train)

y_predict = clf.predict(x_test)

y_predict

/home/dianarolien/.local/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1])

### Acuuracy

In [10]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_predict)

0.5219123505976095

## 2. SVM

In [11]:
from sklearn.svm import SVC
  
svm = SVC()
svm.fit(x_train, y_train)
  
y_predict = svm.predict(x_test)

/home/dianarolien/.local/lib/python3.6/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [12]:
accuracy_score(y_test, y_predict)

0.5219123505976095

## 3. Neural Network

In [13]:
from keras import models, layers, optimizers, regularizers
from sklearn import model_selection, preprocessing
import tensorflow as tf
from tqdm import tqdm

Using TensorFlow backend.

In [ ]:
hidden_units = 3    # how many neurons in the hidden layer
activation = 'relu'  # activation function for hidden layer
l2 = 0           # regularization - how much we penalize large parameter values
learning_rate = 0.1  # how big our steps are in gradient descent
epochs = 100         # how many epochs to train for
batch_size = 32    # how many samples to use for each gradient descent update

# create a sequential model
model = models.Sequential()

# add the hidden layer
model.add(layers.Dense(input_dim=5, units=hidden_units, activation=activation))

# add the output layer
model.add(layers.Dense(input_dim=hidden_units, units=1, activation='sigmoid'))

# define our loss function and optimizer
model.compile(loss='binary_crossentropy', optimizer=optimizers.Adam(lr=learning_rate), metrics=['accuracy'])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [ ]:
class_weight = {
    0: 1.,
    1: 0.5
}

# train the parameters
history = model.fit(x_train, y_train, epochs=epochs, batch_size=batch_size, class_weight=class_weight)

# evaluate accuracy
train_acc = model.evaluate(x_train, y_train, batch_size=32)[1]
test_acc = model.evaluate(x_test, y_test, batch_size=32)[1]
print('Training accuracy: %s' % train_acc)
print('Testing accuracy: %s' % test_acc)

losses = history.history['loss']
plt.plot(range(len(losses)), losses, 'r')
plt.show()

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/100
2263/2263 [==============================] - 0s 138us/step - loss: 0.4839 - acc: 0.4538
Epoch 2/100
2263/2263 [==============================] - 0s 39us/step - loss: 0.4830 - acc: 0.4538
Epoch 3/100
  32/2263 [..............................] - ETA: 0s - loss: 0.4973 - acc: 0.2812

In [ ]:
losses